@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
:root{
    --white: #ffffff;
    --black: #000000;
    --dark: #101010;
    --gray: #f5f5f5;
    --buttom: #f1f1f1;
    --green: #2EDD2A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    height: 100vh;
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin-top: 120px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10%;

}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
}

a{
    color: var(--white);
    font-weight: bold;
}

.header__img{
    background-image: url(../source/img/pexels-junior-teixeira-2047905.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

.header__bio{
    width: 60%;
    font-weight:200;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 120px 100px;
    justify-items: center;
    align-items: center;
}

.header__bio--arrowDown i{
    font-size: 120px;
    color: white;
    margin-top: 100px;
}

main{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.main__text{
    font-size: 2rem;
    font-weight: bold;
    margin: 40px 0;
    width:fit-content;
    align-self: center;
}

.main__body{
    align-self: center;
    width: 80%;
}

.main__body__proyect{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
        'img text'
        'img text'
        'img link';
    gap: 40px;
    height: 300px;
    width: 100%;
    background-color: var(--gray);
    border-radius: 10px;
    justify-items: end;

}

.main__body__proyect--img {
    height: 100%;
    width: 100%;
    grid-area: img;
}

.main__body__proyect--img img{
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.main__body__proyect--text{
    width: 90%;
    display: flex;
    flex-direction: column;
    grid-area: text;
    padding-top: 45px;
    padding-right: 35px;
    justify-self: start;
}

.main__body__proyect a{
    grid-area: link;
    padding-right: 100px;
    font-weight: bold;
    color: var(--black);
    height: fit-content;
}

footer{
    height: 80px;
    background-color: var(--dark);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__section{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.footer__section a{
    margin-right: 15px;
    color: var(--white);
}

.footer__section p i{
    color: red;
}
/* -----------Drawings------------------------------ */

ion-icon{
    --ionicon-stroke-width: 3rem;
    margin-left: 1rem;
    font-size: 2rem;
    margin-top: 56px;
}



.main__title{
    display: flex;
    flex-direction: row;
}

.main__drawing{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: var(--gray);
    height: 500px;
}

.main__drawing--img{
    height: 100%;
    width: 100%;
    grid-column: 1/span 1;
    grid-row: 1/span 3;
}

.main__drawing--img img{
    height:inherit;
    width: 100%;
}

.main__drawing--text{
    margin: 40px;
    grid-column: 2/span 1;
    grid-row: 1 /span 2;
}

button{
    height: 50px;
    width:100%;
    border: none;
    border-radius: 10px 10px 0 0 ;
    background-color: var(--green);
    font-weight: bold;
    font-size: 1.1rem;
    align-self: end;
    grid-column: 2/span 1;
    grid-row: 3 /span 1;
    color: var(--white);
}

.main__drawing--img--reverse{
    grid-column: 2/span 1;
    grid-row: 1/span 3;
}

.main__drawing--text--reverse{
    grid-column: 1/span 1;
    grid-row: 1 /span 2;
}

.button--reverse{
    grid-column: 1/span 1;
    grid-row: 3 /span 1;
}
