@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Roboto&display=swap');
:root{
    --brown:#E45826;
    --black: #1B1A17;
    --background-black: #282722;
    --gray: #4E4E4E;

}