@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto&family=Roboto+Slab:wght@300;400&display=swap');
:root {
    --pink: #E9D5DA;
    --purple-ligth: #827397;
    --purple-middle: #4D4C7D;
    --purple-dark: #363062;
}