<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Style.css">
    <script src="https://kit.fontawesome.com/d6329e4ff2.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Drawings</title>
</head>
<body>
    <main>
        <div class="main__title">
            <h2>CSS Drawings</h2>
            <ion-icon name="return-up-back-outline"></ion-icon>
        </div>
        <section class="main__drawing">
            <div class="main__drawing--img">
                <img src="../source/img/pexels-pixabay-37539.jpg" alt="lapices">
            </div>
            <div class="main__drawing--text">
                <h3>BMO</h3>
                <p>Bmo es un personaje de una serie de animacion llamada ‘Hora de aventura’, Bmo es una consola de videojuegos viviente que vive con Finn y Jake en un arbol. ‘Hora de aventura’ es una serie que hace parte de mi infancia y de las más nostalgicas de recordar; todos los personajes son increibles pero decidí dibujar a Bmo por su relacion con mi pasion por la tecnologia.</p>
            </div>
            <button type="submit" href="/">Código</button>
        </section>
        <section class="main__drawing main__drawing--reverse">
            <div class="main__drawing--img main__drawing--img--reverse">
                <img src="../source/img/pexels-pixabay-37539.jpg" alt="lapices">
            </div>
            <div class="main__drawing--text main__drawing--text--reverse">
                <h3>BIRD</h3>
                <p>Este dibujo fue una inspiracion de Pinterest, su diseño era perfecto para perfeccionar mis habilidades con CSS y fue uno de los mas dificiles de maquetar por su forma, despues de darle vueltas decidí usar Css grid y un poco de Css flex.</p>
            </div>
            <button class="button--reverse" type="submit" href="/">Código</button>
        </section>
    </main>
    <footer>
        <section class="footer__section">
            <a href="/"><i class="fa-brands fa-github"></i></a>
            <a href="/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="/"><i class="fa-brands fa-instagram"></i></a>
            <p>Hecho con <i class="fa-solid fa-heart"></i> por Esteban Patiño</p>
        </section>
    </footer>
</body>
</html>