<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Style.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <section class="header__img">
            <h1>Hola, soy Esteban Patiño</h1>
        </section>
        <section class="header__bio">
            <div class="header__bio--text">
                <p>Soy un apasionado por la tecnologia, aprendo sobre Desarrollo de Software en Platzi una academia online que enseña sobre la industria tech, en el SENA Virtual donde estudio ADSI(Analisis y desarrollo de Sistemas de informacion) y soy parte de MisionTIC que es una estrategia de formación específica en programación orientada a jóvenes por parte del Ministerio de las TIC.
                </p><br>
                <p>Este es mi portafolio que estare mejorando a medida que avance mi formacion y donde publicare todos mis proyectos.
                </p>
            </div>
            <div class="header__bio--arrowDown">
                <i class="fa-solid fa-arrow-down"></i>
            </div>
        </section>
    </header>
    <main>
        <h2>Proyectos</h2>
        <section class="main__proyect">
            <div class="main__proyect--img">
                <img src="../source/img/pexels-pixabay-37539.jpg" alt="lapices">
            </div>
            <div class="main__proyect--text">
                <h3>CSS Drawings</h3>
                <p>CSS es un lenguaje de estilos con el que se diseña/programa todo lo que las personas ven al entrar a un sitio web, pero con CSS tambien se pueden hacer cosas increibles como dibujar/ilustrar, yo lo llamo ‘Dibujar con codigo’.</p>
                <a href="/">Ver más...</a>
            </div>
        </section>
        <p class="main__text">Más proyectos pronto...</p>
    </main>
    <footer>
        <section class="footer__section">
            <a href="/"><i class="fa-brands fa-github"></i></a>
            <a href="/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="/"><i class="fa-brands fa-instagram"></i></a>
            <p>Hecho con <i class="fa-solid fa-heart"></i> por Esteban Patiño</p>
        </section>
    </footer>
</body>
<script src="https://kit.fontawesome.com/761206a2e5.js" crossorigin="anonymous"></script>
</html>